
p {
	margin: 0 0 18px
}
img{max-width: 100%; height: auto;  width:90%; alt: none}
.g {max-width: 20%; height: 50%;text-align:center;}

table thead {
 display: none;
}

table td:before {
 content: attr(data-label);
}
td{ align: center; valign: top; width: 200px}
table {width:100%; height:100px; border:0; cellspacing:0;}

#wrapper {
position: relative; /* боковая колонка перемещается в рамках основного содержания */
  margin: 0 auto; /* сайт располагается по центру экрана */
  max-width: 1100px; /* резиновая, растягивается до значения в 1200px */
  min-width: 450px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 150px;
	background: #FFFFFF;

}
.center {display: block; margin:0 auto;}

#header2 {
        width:100%;
	background: #D3D3DA;
        min-height: 50px;
        height: auto;
}
.menu a{ 
        color:#000000;
        text-decoration: none;   
 
}
.menu{ 
        text-align:center;
        font-size:26px;
	font-family:Arial; 
        padding: 10px 0px 10px;    
}

#header3 {
        width:100%;
	background: #F19900;
	min-height: 50px;
        height: auto;
}
.p_header3 {
     font-family:Arial;
     font-size:28px;
     color:#FFFFFF;
     text-align:center;
     padding: 10px 0px 5px; 
}

/* For button input
-----------------------------------------------------------------------------*/

 input[type="button"]  {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: center;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	left: 35px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	
}
input[type="button"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}



/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
         position: relative;
	
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 15 0 0 0px;
}

.p_adress {
     font-family:Arial;
     font-size:18px;
	 text-align:center;
      color:696969;
}

.p_h {
     font-family:Tahoma;
     font-size: 60px;
     text-align: center;
     font-weight: 200;
     line-height: 1.5;
     color:#F19900;
text-decoration: none;
}
.p_h a{
text-decoration: none;
}

.p_text {
     font-family:Tahoma;
     font-size: 18px;
     text-align:left;
     line-height: 1.5;
padding-left: 20px;
}

.p_h1 {
     font-family:Arial;
     font-size:28px;
text-align:center;
color:#F19900;
font-weight: bold;

}

td {
  padding-left: 20px;
}

.p_list {
font-family:Tahoma;
     font-size: 18px;
     text-align:left;
     line-height: 1.5;
padding-left: 20px;
     text-indent: 20px;
}

.t a{ 
        color:#000000;
        text-decoration: none;   
 
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 100%;
	background:#D3D3DA;
}

